.admin-list li .admin-list-item {
	/*
    background: url(../../../../core/misc/icons/bebebe/chevron-disc-right.svg) no-repeat 1px 16px;
    display: block;
    padding: 14px 15px 14px 25px;
    min-height: 0;
    */
    padding: 10px 0;
}

@media screen and (min-width: 38em) {
  .layout-column--third {
    width: 33%;
  }
  .layout-column--two-third {
    width: 66%;
  }
}
